<form [formGroup]="form">
  <!-- Input -->
  <mat-form-field appearance="fill">
    <mat-label>
      Enter your name
    </mat-label>
    <input type="text" matInput placeholder="Name" required formControlName="name"/>
    @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
      <mat-error>
        Name is required!
      </mat-error>
    }
    @if (form.get('name')?.hasError('minlength') && form.get('name')?.touched) {
      <mat-error>
        Name must be at least 3 characters!
      </mat-error>
    }
  </mat-form-field>
  <!-- Select-->
  <mat-form-field appearance="fill">
    <mat-label>
      Select your favourite food
    </mat-label>
    <mat-select formControlName="favouriteFood">
      <mat-option value="1">
        Pizza
      </mat-option>
      <mat-option value="2">
        Burger
      </mat-option>
      <mat-option value="3">
        Pasta
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Datepicker -->
  <mat-form-field appearance="fill">
    <mat-label>
      Choose your date of birth
    </mat-label>
    <input matInput [matDatepicker]="picker" required formControlName="dateOfBirth"/>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>

<router-outlet/>
